root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[**.md]
indent_style = space
indent_size = 2

[**.sh]
indent_style = space
indent_size = 4
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr

[**.yaml,**.yml]
indent_style = space
indent_size = 2
