# Universal Settings
COMPOSE_HTTP_TIMEOUT=60
DOCKERCONFDIR=~/.config/appdata
DOCKERGID=999
DOCKERHOSTNAME=DockSTARTer
DOCKERLOGGING_MAXFILE=10
DOCKERLOGGING_MAXSIZE=200k
DOCKERSHAREDDIR=~/.config/appdata/shared
DOWNLOADSDIR=/mnt/downloads
MEDIADIR_AUDIOBOOKS=/mnt/medialibrary/audiobooks
MEDIADIR_BOOKS=/mnt/medialibrary/books
MEDIADIR_COMICS=/mnt/medialibrary/comics
MEDIADIR_MOVIES=/mnt/medialibrary/movies
MEDIADIR_MUSIC=/mnt/medialibrary/music
MEDIADIR_TV=/mnt/medialibrary/tv
PGID=1000
PUID=1000
TZ=America/Chicago

# Backup Settings
BACKUP_BWLIMIT=100000
BACKUP_CHATTR=1
BACKUP_CMD_POST_APP=
BACKUP_CMD_POST_RUN=
BACKUP_CMD_PRE_APP=
BACKUP_CMD_PRE_RUN=
BACKUP_CONFDIR=/mnt/backup/dockerconfigs
BACKUP_DU=1
BACKUP_MAX_MIBSIZE=80000
BACKUP_MIN_MIBSIZE=5000
BACKUP_OVERWRITE_LAST=0
BACKUP_RETENTION=512 256 128 64 32 16 8 4

# VPN Settings
LAN_NETWORK=192.168.x.x/24
NS1=1.1.1.1
NS2=8.8.8.8
VPN_ENABLE=yes
VPN_OPTIONS=
VPN_PASS=
VPN_PROV=pia
VPN_USER=

# App Settings

### AIRDCPP
AIRDCPP_ENABLED=false
AIRDCPP_BACKUP_CONFIG=true
AIRDCPP_NETWORK_MODE=
AIRDCPP_PORT_21248=21248
AIRDCPP_PORT_21249=21249
AIRDCPP_PORT_5600=5600
AIRDCPP_PORT_5601=5601
AIRDCPP_SHAREDIR=/mnt/airdcpp

### AIRSONIC
AIRSONIC_ENABLED=false
AIRSONIC_BACKUP_CONFIG=true
AIRSONIC_NETWORK_MODE=
AIRSONIC_PORT_4040=4040
AIRSONIC_CONTEXT_PATH=/airsonic
AIRSONIC_JAVA_OPTS=

### BAZARR
BAZARR_ENABLED=false
BAZARR_BACKUP_CONFIG=true
BAZARR_NETWORK_MODE=
BAZARR_PORT_6767=6767

### BEETS
BEETS_ENABLED=false
BEETS_BACKUP_CONFIG=true
BEETS_NETWORK_MODE=
BEETS_PORT_8337=8337

### BITWARDEN
BITWARDEN_ENABLED=false
BITWARDEN_BACKUP_CONFIG=true
BITWARDEN_NETWORK_MODE=
BITWARDEN_PORT_80=8013
BITWARDEN_SIGNUPS_ALLOWED=true

### BOOKSONIC
BOOKSONIC_ENABLED=false
BOOKSONIC_BACKUP_CONFIG=true
BOOKSONIC_NETWORK_MODE=
BOOKSONIC_PORT_4040=4040
BOOKSONIC_CONTEXT_PATH=/booksonic

### BOOKSTACK
BOOKSTACK_ENABLED=false
BOOKSTACK_BACKUP_CONFIG=true
BOOKSTACK_NETWORK_MODE=
BOOKSTACK_PORT_80=6875
BOOKSTACK_APP_URL=
BOOKSTACK_DB_DATABASE=
BOOKSTACK_DB_HOST=
BOOKSTACK_DB_PASS=
BOOKSTACK_DB_USER=

### CALIBREWEB
CALIBREWEB_ENABLED=false
CALIBREWEB_BACKUP_CONFIG=true
CALIBREWEB_NETWORK_MODE=
CALIBREWEB_PORT_8083=8083

### CLOUDCMD
CLOUDCMD_ENABLED=false
CLOUDCMD_BACKUP_CONFIG=true
CLOUDCMD_NETWORK_MODE=
CLOUDCMD_PORT_8000=8000
CLOUDCMD_FSDIR=/mnt/cloudcmd

### CLOUDFLAREDDNS
CLOUDFLAREDDNS_ENABLED=false
CLOUDFLAREDDNS_BACKUP_CONFIG=false
CLOUDFLAREDDNS_NETWORK_MODE=
CLOUDFLAREDDNS_API_KEY=
CLOUDFLAREDDNS_DELETE_ON_STOP=false
CLOUDFLAREDDNS_EMAIL=
CLOUDFLAREDDNS_PROXIED=false
CLOUDFLAREDDNS_RRTYPE=A
CLOUDFLAREDDNS_SUBDOMAIN=
CLOUDFLAREDDNS_ZONE=

### COUCHPOTATO
COUCHPOTATO_ENABLED=false
COUCHPOTATO_BACKUP_CONFIG=true
COUCHPOTATO_NETWORK_MODE=
COUCHPOTATO_PORT_5050=5050

### DDCLIENT
DDCLIENT_ENABLED=false
DDCLIENT_BACKUP_CONFIG=true
DDCLIENT_NETWORK_MODE=

### DELUGE
DELUGE_ENABLED=false
DELUGE_BACKUP_CONFIG=true
DELUGE_NETWORK_MODE=
DELUGE_PORT_58846=58846
DELUGE_PORT_58946=58946
DELUGE_PORT_8112=8112

### DELUGEVPN
DELUGEVPN_ENABLED=false
DELUGEVPN_BACKUP_CONFIG=true
DELUGEVPN_NETWORK_MODE=
DELUGEVPN_PORT_58846=58846
DELUGEVPN_PORT_58946=58946
DELUGEVPN_PORT_8112=8112
DELUGEVPN_PORT_8118=8118
DELUGEVPN_ENABLE_PRIVOXY=no

### DUCKDNS
DUCKDNS_ENABLED=false
DUCKDNS_BACKUP_CONFIG=true
DUCKDNS_NETWORK_MODE=
DUCKDNS_LOG_FILE=true
DUCKDNS_SUBDOMAINS=
DUCKDNS_TOKEN=

### DUPLICATI
DUPLICATI_ENABLED=false
DUPLICATI_BACKUP_CONFIG=true
DUPLICATI_NETWORK_MODE=
DUPLICATI_PORT_8200=8200
DUPLICATI_BACKUPSDIR=~/.config/appdata/backups
DUPLICATI_SOURCEDIR=~/.config/appdata

### EMBY
EMBY_ENABLED=false
EMBY_BACKUP_CONFIG=true
EMBY_NETWORK_MODE=
EMBY_PORT_8096=8096
EMBY_PORT_8920=8920

### FRESHRSS
FRESHRSS_ENABLED=false
FRESHRSS_BACKUP_CONFIG=true
FRESHRSS_NETWORK_MODE=
FRESHRSS_PORT_80=8012

### GLANCES
GLANCES_ENABLED=false
GLANCES_BACKUP_CONFIG=true
GLANCES_NETWORK_MODE=
GLANCES_PORT_61208=61208
GLANCES_PORT_61209=61209

### GRAFANA
GRAFANA_ENABLED=false
GRAFANA_BACKUP_CONFIG=true
GRAFANA_NETWORK_MODE=
GRAFANA_PORT_3000=3000
GRAFANA_GF_INSTALL_PLUGINS=grafana-piechart-panel,grafana-worldmap-panel

### GUACAMOLE
GUACAMOLE_ENABLED=false
GUACAMOLE_BACKUP_CONFIG=true
GUACAMOLE_NETWORK_MODE=
GUACAMOLE_PORT_8080=8080
GUACAMOLE_EXTENSIONS=

### H5AI
H5AI_ENABLED=false
H5AI_BACKUP_CONFIG=true
H5AI_NETWORK_MODE=
H5AI_PORT_8080=8080
H5AI_INDEXDIR=/mnt/h5ai

### HANDBRAKE
HANDBRAKE_ENABLED=false
HANDBRAKE_BACKUP_CONFIG=true
HANDBRAKE_NETWORK_MODE=
HANDBRAKE_PORT_5800=5800
HANDBRAKE_OUTPUTDIR=/mnt/handbrake/output
HANDBRAKE_WATCHDIR=/mnt/handbrake/watch

### HEADPHONES
HEADPHONES_ENABLED=false
HEADPHONES_BACKUP_CONFIG=true
HEADPHONES_NETWORK_MODE=
HEADPHONES_PORT_8181=8181

### HEIMDALL
HEIMDALL_ENABLED=false
HEIMDALL_BACKUP_CONFIG=true
HEIMDALL_NETWORK_MODE=
HEIMDALL_PORT_443=447
HEIMDALL_PORT_80=8002

### HOMEASSISTANT
HOMEASSISTANT_ENABLED=false
HOMEASSISTANT_BACKUP_CONFIG=true
HOMEASSISTANT_NETWORK_MODE=
HOMEASSISTANT_PORT_8123=8123

### HTPCMANAGER
HTPCMANAGER_ENABLED=false
HTPCMANAGER_BACKUP_CONFIG=true
HTPCMANAGER_NETWORK_MODE=
HTPCMANAGER_PORT_8085=8085

### HYDRA2
HYDRA2_ENABLED=false
HYDRA2_BACKUP_CONFIG=true
HYDRA2_NETWORK_MODE=
HYDRA2_PORT_5076=5076

### INFLUXDB
INFLUXDB_ENABLED=false
INFLUXDB_BACKUP_CONFIG=true
INFLUXDB_NETWORK_MODE=
INFLUXDB_PORT_8086=8086

### JACKETT
JACKETT_ENABLED=false
JACKETT_BACKUP_CONFIG=true
JACKETT_NETWORK_MODE=
JACKETT_PORT_9117=9117

### JELLYFIN
JELLYFIN_ENABLED=false
JELLYFIN_BACKUP_CONFIG=true
JELLYFIN_NETWORK_MODE=
JELLYFIN_PORT_8096=8096
JELLYFIN_CACHEDIR=/tmp

### LAZYLIBRARIAN
LAZYLIBRARIAN_ENABLED=false
LAZYLIBRARIAN_BACKUP_CONFIG=true
LAZYLIBRARIAN_NETWORK_MODE=
LAZYLIBRARIAN_PORT_5299=5299

### LETSENCRYPT
LETSENCRYPT_ENABLED=false
LETSENCRYPT_BACKUP_CONFIG=true
LETSENCRYPT_NETWORK_MODE=
LETSENCRYPT_PORT_443=443
LETSENCRYPT_PORT_80=80
LETSENCRYPT_DNSPLUGIN=
LETSENCRYPT_DUCKDNSTOKEN=
LETSENCRYPT_EMAIL=
LETSENCRYPT_EXTRA_DOMAINS=
LETSENCRYPT_ONLY_SUBDOMAINS=false
LETSENCRYPT_SUBDOMAINS=plex,portainer,www
LETSENCRYPT_URL=
LETSENCRYPT_VALIDATION=http

### LIDARR
LIDARR_ENABLED=false
LIDARR_BACKUP_CONFIG=true
LIDARR_NETWORK_MODE=
LIDARR_PORT_8686=8686

### LOGARR
LOGARR_ENABLED=false
LOGARR_BACKUP_CONFIG=true
LOGARR_NETWORK_MODE=
LOGARR_PORT_80=8003

### LOGITECHMEDIASERVER
LOGITECHMEDIASERVER_ENABLED=false
LOGITECHMEDIASERVER_BACKUP_CONFIG=true
LOGITECHMEDIASERVER_NETWORK_MODE=
LOGITECHMEDIASERVER_PORT_3483=3483
LOGITECHMEDIASERVER_PORT_9000=9000
LOGITECHMEDIASERVER_PORT_9090=9090

### MAKEMKV
MAKEMKV_ENABLED=false
MAKEMKV_BACKUP_CONFIG=true
MAKEMKV_NETWORK_MODE=
MAKEMKV_PORT_5800=5800
MAKEMKV_OUTPUTDIR=/mnt/makemkv/output
MAKEMKV_STORAGEDIR=/mnt/makemkv/storage

### MARIADB
MARIADB_ENABLED=false
MARIADB_BACKUP_CONFIG=true
MARIADB_NETWORK_MODE=
MARIADB_MYSQL_ROOT_PASSWORD=
MARIADB_PORT_3306=3306

### MEDUSA
MEDUSA_ENABLED=false
MEDUSA_BACKUP_CONFIG=true
MEDUSA_NETWORK_MODE=
MEDUSA_PORT_8081=8081

### MONITORR
MONITORR_ENABLED=false
MONITORR_BACKUP_CONFIG=true
MONITORR_NETWORK_MODE=
MONITORR_PORT_80=8004

### MUXIMUX
MUXIMUX_ENABLED=false
MUXIMUX_BACKUP_CONFIG=true
MUXIMUX_NETWORK_MODE=
MUXIMUX_PORT_80=8005

### MYLAR
MYLAR_ENABLED=false
MYLAR_BACKUP_CONFIG=true
MYLAR_NETWORK_MODE=
MYLAR_PORT_8090=8090

### NETDATA
NETDATA_ENABLED=false
NETDATA_BACKUP_CONFIG=true
NETDATA_NETWORK_MODE=
NETDATA_PORT_19999=19999

### NEXTCLOUD
NEXTCLOUD_ENABLED=false
NEXTCLOUD_BACKUP_CONFIG=true
NEXTCLOUD_NETWORK_MODE=
NEXTCLOUD_PORT_443=444
NEXTCLOUD_DATADIR=/mnt/nextcloud

### NZBGET
NZBGET_ENABLED=false
NZBGET_BACKUP_CONFIG=true
NZBGET_NETWORK_MODE=
NZBGET_PORT_6789=6789

### NZBGETVPN
NZBGETVPN_ENABLED=false
NZBGETVPN_BACKUP_CONFIG=true
NZBGETVPN_NETWORK_MODE=
NZBGETVPN_PORT_6789=6789
NZBGETVPN_PORT_8118=8118
NZBGETVPN_ENABLE_PRIVOXY=no

### OMBI
OMBI_ENABLED=false
OMBI_BACKUP_CONFIG=true
OMBI_NETWORK_MODE=
OMBI_PORT_3579=3579

### OPENVPNAS
OPENVPNAS_ENABLED=false
OPENVPNAS_BACKUP_CONFIG=true
OPENVPNAS_NETWORK_MODE=
OPENVPNAS_PORT_1194=1194
OPENVPNAS_PORT_943=943
OPENVPNAS_PORT_9443=9443
OPENVPNAS_INTERFACE=eth0

### ORGANIZR
ORGANIZR_ENABLED=false
ORGANIZR_BACKUP_CONFIG=true
ORGANIZR_NETWORK_MODE=
ORGANIZR_PORT_80=8006

### OUROBOROS
OUROBOROS_ENABLED=true
OUROBOROS_BACKUP_CONFIG=false
OUROBOROS_NETWORK_MODE=
OUROBOROS_CLEANUP=true
OUROBOROS_CRON=0 4 * * *
OUROBOROS_IGNORE=
OUROBOROS_INTERVAL=300
OUROBOROS_LOG_LEVEL=info
OUROBOROS_MONITOR=
OUROBOROS_NOTIFIERS=
OUROBOROS_REPO_PASS=
OUROBOROS_REPO_USER=
OUROBOROS_SELF_UPDATE=true

### PHPMYADMIN
PHPMYADMIN_ENABLED=false
PHPMYADMIN_BACKUP_CONFIG=true
PHPMYADMIN_NETWORK_MODE=
PHPMYADMIN_PORT_80=8007
PHPMYADMIN_PMA_HOST=mariadb
PHPMYADMIN_PMA_PASSWORD=
PHPMYADMIN_PMA_USER=root

### PIHOLE
PIHOLE_ENABLED=false
PIHOLE_BACKUP_CONFIG=true
PIHOLE_NETWORK_MODE=
PIHOLE_PORT_443=446
PIHOLE_PORT_53=53
PIHOLE_PORT_67=67
PIHOLE_PORT_80=8008
PIHOLE_SERVERIP=192.168.x.x
PIHOLE_SERVERIPV6=
PIHOLE_WEBPASSWORD=

### PLEX
PLEX_ENABLED=false
PLEX_BACKUP_CONFIG=true
PLEX_NETWORK_MODE=
PLEX_PORT_1900=1900
PLEX_PORT_3005=3005
PLEX_PORT_32400=32400
PLEX_PORT_32410=32410
PLEX_PORT_32412=32412
PLEX_PORT_32413=32413
PLEX_PORT_32414=32414
PLEX_PORT_32469=32469
PLEX_PORT_33400=33400
PLEX_PORT_5353=5353
PLEX_PORT_8324=8324
PLEX_TRANSCODEDIR=/tmp
PLEX_VERSION=docker

### PORTAINER
PORTAINER_ENABLED=true
PORTAINER_BACKUP_CONFIG=true
PORTAINER_NETWORK_MODE=
PORTAINER_PORT_9000=9000

### PORTAINERAGENT
PORTAINERAGENT_ENABLED=false
PORTAINERAGENT_BACKUP_CONFIG=true
PORTAINERAGENT_NETWORK_MODE=
PORTAINERAGENT_PORT_9001=9001

### PYLOAD
PYLOAD_ENABLED=false
PYLOAD_BACKUP_CONFIG=true
PYLOAD_NETWORK_MODE=
PYLOAD_PORT_8000=8000

### QBITTORRENT
QBITTORRENT_ENABLED=false
QBITTORRENT_BACKUP_CONFIG=true
QBITTORRENT_NETWORK_MODE=
QBITTORRENT_PORT_6881=6881
QBITTORRENT_PORT_8080=8080

### QBITTORRENTVPN
QBITTORRENTVPN_ENABLED=false
QBITTORRENTVPN_BACKUP_CONFIG=true
QBITTORRENTVPN_NETWORK_MODE=
QBITTORRENTVPN_PORT_6881=6881
QBITTORRENTVPN_PORT_8080=8080
QBITTORRENTVPN_PORT_8118=8118
QBITTORRENTVPN_ENABLE_PRIVOXY=no

### QUASSELCORE
QUASSELCORE_ENABLED=false
QUASSELCORE_BACKUP_CONFIG=true
QUASSELCORE_NETWORK_MODE=
QUASSELCORE_PORT_10113=10113
QUASSELCORE_PORT_4242=4242

### QUASSELWEB
QUASSELWEB_ENABLED=false
QUASSELWEB_BACKUP_CONFIG=true
QUASSELWEB_NETWORK_MODE=
QUASSELWEB_PORT_64080=64080
QUASSELWEB_QUASSEL_CORE=quasselcore
QUASSELWEB_QUASSEL_PORT=4242
QUASSELWEB_URL_BASE=/quassel

### RADARR
RADARR_ENABLED=false
RADARR_BACKUP_CONFIG=true
RADARR_NETWORK_MODE=
RADARR_PORT_7878=7878

### RESILIOSYNC
RESILIOSYNC_ENABLED=false
RESILIOSYNC_BACKUP_CONFIG=true
RESILIOSYNC_NETWORK_MODE=
RESILIOSYNC_PORT_8888=8888
RESILIOSYNC_PORT_55555=55555
RESILIOSYNC_SOURCEDIR=/mnt/resiliosync

### RTORRENTVPN
RTORRENTVPN_ENABLED=false
RTORRENTVPN_BACKUP_CONFIG=true
RTORRENTVPN_NETWORK_MODE=
RTORRENTVPN_PORT_3000=3000
RTORRENTVPN_PORT_8118=8118
RTORRENTVPN_PORT_9080=9080
RTORRENTVPN_PORT_9443=9443
RTORRENTVPN_ENABLE_AUTODL_IRSSI=no
RTORRENTVPN_ENABLE_FLOOD=both
RTORRENTVPN_ENABLE_PRIVOXY=no

### RUTORRENT
RUTORRENT_ENABLED=false
RUTORRENT_BACKUP_CONFIG=true
RUTORRENT_NETWORK_MODE=
RUTORRENT_PORT_5000=5000
RUTORRENT_PORT_51413=51413
RUTORRENT_PORT_6881=6881
RUTORRENT_PORT_80=8009

### SABNZBD
SABNZBD_ENABLED=false
SABNZBD_BACKUP_CONFIG=true
SABNZBD_NETWORK_MODE=
SABNZBD_PORT_8080=8080

### SABNZBDVPN
SABNZBDVPN_ENABLED=false
SABNZBDVPN_BACKUP_CONFIG=true
SABNZBDVPN_NETWORK_MODE=
SABNZBDVPN_PORT_8080=8080
SABNZBDVPN_PORT_8090=8090
SABNZBDVPN_PORT_8118=8118
SABNZBDVPN_ENABLE_PRIVOXY=no

### SICKCHILL
SICKCHILL_ENABLED=false
SICKCHILL_BACKUP_CONFIG=true
SICKCHILL_NETWORK_MODE=
SICKCHILL_PORT_8081=8081

### SMOKEPING
SMOKEPING_ENABLED=false
SMOKEPING_BACKUP_CONFIG=true
SMOKEPING_NETWORK_MODE=
SMOKEPING_PORT_80=8011
SMOKEPING_DATADIR=/mnt/smokeping

### SONARR
SONARR_ENABLED=false
SONARR_BACKUP_CONFIG=true
SONARR_NETWORK_MODE=
SONARR_PORT_8989=8989

### SYNCTHING
SYNCTHING_ENABLED=false
SYNCTHING_BACKUP_CONFIG=true
SYNCTHING_NETWORK_MODE=
SYNCTHING_PORT_21027=21027
SYNCTHING_PORT_22000=22000
SYNCTHING_PORT_8384=8384
SYNCTHING_SOURCEDIR=/mnt/syncthing

### TAUTULLI
TAUTULLI_ENABLED=false
TAUTULLI_BACKUP_CONFIG=true
TAUTULLI_NETWORK_MODE=
TAUTULLI_PORT_8181=8181

### TELEGRAF
TELEGRAF_ENABLED=false
TELEGRAF_BACKUP_CONFIG=true
TELEGRAF_NETWORK_MODE=
TELEGRAF_PORT_8092=8092
TELEGRAF_PORT_8094=8094
TELEGRAF_PORT_8125=8125

### THELOUNGE
THELOUNGE_ENABLED=false
THELOUNGE_BACKUP_CONFIG=true
THELOUNGE_NETWORK_MODE=
THELOUNGE_PORT_9000=9100

### TRANSMISSION
TRANSMISSION_ENABLED=false
TRANSMISSION_BACKUP_CONFIG=true
TRANSMISSION_NETWORK_MODE=
TRANSMISSION_PORT_51413=51413
TRANSMISSION_PORT_9091=9091

### TRANSMISSIONVPN
TRANSMISSIONVPN_ENABLED=false
TRANSMISSIONVPN_BACKUP_CONFIG=true
TRANSMISSIONVPN_NETWORK_MODE=
TRANSMISSIONVPN_PORT_9091=9091

### TTRSS
TTRSS_ENABLED=false
TTRSS_BACKUP_CONFIG=true
TTRSS_NETWORK_MODE=
TTRSS_PORT_80=8010

### TVHEADEND
TVHEADEND_ENABLED=false
TVHEADEND_BACKUP_CONFIG=true
TVHEADEND_NETWORK_MODE=
TVHEADEND_PORT_9981=9981
TVHEADEND_PORT_9982=9982
TVHEADEND_RECORDINGSDIR=/mnt/recordings
TVHEADEND_RUN_OPTS=

### UBOOQUITY
UBOOQUITY_ENABLED=false
UBOOQUITY_BACKUP_CONFIG=true
UBOOQUITY_NETWORK_MODE=
UBOOQUITY_PORT_2202=2202
UBOOQUITY_PORT_2203=2203
UBOOQUITY_FILESDIR=/mnt/ubooquity
UBOOQUITY_MAXMEM=512

### UNIFICONTROLLER
UNIFICONTROLLER_ENABLED=false
UNIFICONTROLLER_BACKUP_CONFIG=true
UNIFICONTROLLER_NETWORK_MODE=
UNIFICONTROLLER_PORT_10001=10001
UNIFICONTROLLER_PORT_3478=3478
UNIFICONTROLLER_PORT_6789=6789
UNIFICONTROLLER_PORT_8080=8080
UNIFICONTROLLER_PORT_8081=8081
UNIFICONTROLLER_PORT_8443=8443
UNIFICONTROLLER_PORT_8843=8843
UNIFICONTROLLER_PORT_8880=8880

### VARKEN
VARKEN_ENABLED=false
VARKEN_BACKUP_CONFIG=true
VARKEN_NETWORK_MODE=

### VSFTPD
VSFTPD_ENABLED=false
VSFTPD_BACKUP_CONFIG=true
VSFTPD_NETWORK_MODE=
VSFTPD_PORT_21=21
VSFTPD_FTP_PASS=
VSFTPD_FTP_USER=
VSFTPD_DATADIR=/mnt/vsftpd

### WATCHTOWER
WATCHTOWER_ENABLED=false
WATCHTOWER_BACKUP_CONFIG=false
WATCHTOWER_NETWORK_MODE=
WATCHTOWER_CLEANUP=true
WATCHTOWER_INCLUDE_STOPPED=false
WATCHTOWER_MONITOR_ONLY=false
WATCHTOWER_POLL_INTERVAL=300
WATCHTOWER_REPO_PASS=
WATCHTOWER_REPO_USER=
WATCHTOWER_SCHEDULE=0 0 4 * * *
WATCHTOWER_TIMEOUT=10s

### ZNC
ZNC_ENABLED=false
ZNC_BACKUP_CONFIG=true
ZNC_NETWORK_MODE=
ZNC_PORT_6501=6501

# END OF DEFAULT SETTINGS
