# Global Settings
COMPOSE_HTTP_TIMEOUT=60
DOCKERCONFDIR=~/.config/appdata
DOCKERGID=999
DOCKERHOSTNAME=DockSTARTer
DOCKERLOGGING_MAXFILE=10
DOCKERLOGGING_MAXSIZE=200k
DOCKERSHAREDDIR=~/.config/appdata/shared
DOWNLOADSDIR=/mnt/downloads
MEDIADIR_AUDIOBOOKS=/mnt/medialibrary/audiobooks
MEDIADIR_BOOKS=/mnt/medialibrary/books
MEDIADIR_COMICS=/mnt/medialibrary/comics
MEDIADIR_MOVIES=/mnt/medialibrary/movies
MEDIADIR_MUSIC=/mnt/medialibrary/music
MEDIADIR_TV=/mnt/medialibrary/tv
PGID=1000
PUID=1000
TZ=America/Chicago

# Backup Settings
BACKUP_BWLIMIT=100000
BACKUP_CHATTR=1
BACKUP_CMD_POST_APP=
BACKUP_CMD_POST_RUN=
BACKUP_CMD_PRE_APP=
BACKUP_CMD_PRE_RUN=
BACKUP_CONFDIR=/mnt/backup/dockerconfigs
BACKUP_DU=1
BACKUP_MAX_MIBSIZE=80000
BACKUP_MIN_MIBSIZE=5000
BACKUP_OVERWRITE_LAST=0
BACKUP_RETENTION=512 256 128 64 32 16 8 4

# VPN Settings
LAN_NETWORK=192.168.x.x/24
NS1=1.1.1.1
NS2=8.8.8.8
VPN_ENABLE=yes
VPN_OPTIONS=
VPN_OVPNDIR=~/.config/appdata/.openvpn
VPN_PASS=
VPN_PROV=custom
VPN_USER=

# END OF DEFAULT SETTINGS
