###
### Global Settings
###
COMPOSE_HTTP_TIMEOUT='60'
DOCKER_GID='x999x'
DOCKER_HOSTNAME=''
DOCKER_MULTIPLE_STORAGE='OFF' # Set to ON to enable multiple storage location support
DOCKER_STORAGE_ON='YES'       # Set to NO to disable mounting storage location 1
DOCKER_STORAGE2_ON='NO'       # Set to YES to enable mounting storage location 2
DOCKER_STORAGE3_ON='NO'       # Set to YES to enable mounting storage location 3
DOCKER_STORAGE4_ON='NO'       # Set to YES to enable mounting storage location 4
DOCKER_VOLUME_CONFIG='~/.config/appdata'
DOCKER_VOLUME_STORAGE='~/storage'
DOCKER_VOLUME_STORAGE2='~/storage2'
DOCKER_VOLUME_STORAGE3='~/storage3'
DOCKER_VOLUME_STORAGE4='~/storage4'
DOCKER_VOLUME_DOCKER_SOCKET='/var/run/docker.sock'
GLOBAL_LAN_NETWORK='192.168.x.x/24'
GLOBAL_NS1='1.1.1.1'
GLOBAL_NS2='8.8.8.8'
PGID='x1000x'
PUID='x1000x'
TZ=''

### END OF GLOBAL SETTINGS
