#couchpotato
#deluge
#duckdns
#duplicati
#emby
#headphones
#hydra2
#jackett
#lazylibrarian
#letsencrypt
#lidarr
#monitorr
#muximux
#nzbget
#ombi
#organizr
#plex
#plexrequests
portainer
#radarr
#rutorrent
#sabnzbd
#sickrage
#sonarr
#syncthing
#tautulli
#transmission
#unifi
watchtower
