name: Build and Deploy mkdocs

on:
  push:
  pull_request:

jobs:
  mkdocs:
    name: Build and Deploy mkdocs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          sparse-checkout: |
            docs
      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Get pip cache directory
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: pip install -r docs/requirements.txt
      - name: Build documentation
        run: mkdocs build
      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && contains(fromJson('["refs/heads/main"]'), github.ref)
        run: mkdocs gh-deploy --force
