name: Build mkdocs and deploy to GitHub Pages

on: [push, pull_request]

jobs:

  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.0
      - uses: actions/setup-python@v4.7.1
        with:
          python-version: 3.x
      - uses: actions/cache@v3.3.2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r docs/requirements.txt
      - run: mkdocs build

  deploy:
    if: github.event_name == 'push' && contains(fromJson('["refs/heads/master", "refs/heads/main"]'), github.ref)
    needs: build
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.0
        with:
          fetch-depth: '0'
      - uses: actions/setup-python@v4.7.1
        with:
          python-version: 3.x
      - uses: actions/cache@v3.3.2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force
