name: Run Tests

on: [push, pull_request]

jobs:

  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: run
        env:
          CI: true
          COMMIT_SHA: ${{ github.sha }}
        run: |
          while IFS= read -r line; do echo; sudo -E bash ./main.sh -vt "${line}" || exit 1; echo; done < <(git ls-files '.scripts/*.sh' | sed -E 's/^\.scripts\/(\w+)\.sh$/\1/')
