services:
  traefik<__instance>:
    container_name: ${TRAEFIK<__INSTANCE>__CONTAINER_NAME?}
    env_file: .env.app.traefik
    environment:
      - PGID=${PGID?}
      - PUID=${PUID?}
      - TZ=${TZ?}
    restart: ${TRAEFIK<__INSTANCE>__RESTART?}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_VOLUME_CONFIG?}/traefik<__instance>:/etc/traefik
      - ${TRAEFIK<__INSTANCE>__VOLUME_DOCKER_SOCKET?}:/var/run/docker.sock:ro
